<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;;300;400;500;600;700&display=swap');

        * {
            font-family: 'Poppins', sans-serif;
            margin: 0px;
            padding: 0px;
            background-origin:border-box;
        }

        html,body{
            width: 95%;
            margin: 0 auto;
            background: linear-gradient(-135deg, #a04b9a, #4158d0);
        }
        ::selection{
            background: #4158d0;
            color: #fff;
        }

        .head {
            width: 100%;
            margin: 0px;
            padding: 50px;
            font-size: 100px;
            font-weight: 600;
            text-align: center;
            line-height: 50px;
            color: #fff;
            user-select: none;
            border-radius: 15px 15px 0 0;
        }

        .message {
            font-size: 50px;
        }

        .wrapper{
            width: 100%;
            margin: auto;
            padding: 10px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .wrapper .box{
            background: #fff;
            width: 100%;
            padding: 35px 50px;
            border-radius: 13px;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
        }

        .wrapper .box .content {
            align-items: center;
            padding-top: 0px;
            padding-bottom: 10px;
        }

        .box .info .name {
            font-weight: 500;
            font-size: 13px;
        }

        .box .info .job {
            font-weight: 450;
            font-size: 13px;
            color:#192bc9;
        }

        nav {
            width: 100%;
            font-weight: 400;
            margin: 0 auto;
        }

        nav ul {
            width: 100%;
            list-style-type: none;
            margin: 20px 0px 0px 0px;
            border-radius: 20px;
            overflow: hidden;
            background-color: #cf85ca;
            box-shadow: 0 0 20px rgba(6, 146, 240, 0.322);
        }

        nav li a {
            display: block;
            color: #ffffff;
            text-align: center;
            padding: 16px 32px;
            text-decoration: none;
        }

        nav li a:hover:not(.active) {
            background-color: #4125bb;
        }
    </style>
    <body>
        <nav>
            <ul>
                <li style="float:left"><a href="/lab-4/">Notes Table</a></li>
                <li style="float:left"><a href="/lab-4/add-note">Add Notes</a></li>
              </ul>
        </nav>
        <h1 class="head">Notes</h1>
        {% for note in notes %}
        <div class="wrapper">
            <div class="box">
                <div class="content">
                    <div class="info">
                        <div class="name">From: {{note.from_who}}</div>
                        <div class="job">To:    {{note.to}}</div>
                    </div>
                </div>
                <h1 class="message">{{ note.title }}</h1>
                <p>{{ note.message }}</p>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
