<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <style>
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;;300;400;500;600;700&display=swap');

    * {
        font-family: 'Poppins', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    
    html,body{
        width: 90%;
        padding-bottom: 200px;
        max-width: 1000px;
        margin: 0 auto;
        background: linear-gradient(-135deg, #c850c0, #4158d0);
    }

    .head {
        padding: 50px;
        margin: 0;
        font-size: 93px;
        font-weight: 1000;
        text-align: center;
        line-height: 50px;
        color : #ffffff;
        border-radius: 15px 15px 0 0;
    }

    .table-content {
        border-collapse: collapse;
        width: 100%;
        padding : 10px;
        font-size: 0.9em;
        border-radius: 15px;
        background: white;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .table-content thead tr {
        background-color: #8f6194;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .table-content th, .table-content td {
        padding: 15px 15px;
    }

    .table-content tbody tr {
        border-bottom: 1.5px solid #dddddd;
    }

    .table-content tbody tr:last-of-type {
        border-bottom: 3px solid #aa1daf;
    }

    nav {
        width: 100%;
        font-weight: 400;
        margin: 0 auto;
    }

    nav ul {
        width: 100%;
        list-style-type: none;
        margin: 20px 0px 0px 0px;
        border-radius: 20px;
        overflow: hidden;
        background-color: #cf85ca;
        box-shadow: 0 0 20px rgba(6, 146, 240, 0.322);
    }

    nav li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 16px 32px;
        text-decoration: none;
    }

    nav li a:hover:not(.active) {
        background-color: #4125bb;
    }


  </style>
  <body>
    <nav>
        <ul>
            <li style="float:left"><a href="/lab-4/note-list">Notes List</a></li>
            <li style="float:left"><a href="/lab-4/add-note">Add Notes</a></li>
          </ul>
    </nav>
    <h1 class="head">Note</h1>
    <table class="table-content">
        <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <!-- loop from Note model -->
            {% for note in notes %}
            <tr>
                <td>{{note.to}}</td>
                <td>{{note.from_who}}</td>
                <td>{{note.title}}</td>
                <td>{{note.message}}</td>
            </tr>
            {% endfor %}
            <!-- END SECTION -->
        </tbody>
    </table>
  </body>
</html>
