<!DOCTYPE html>
<html>
    <head>
        <title>
            Friend Form
        </title>
    </head>
    <style>
        input[type=text], select {
          width: 100%;
          padding: 11px 21px;
          margin: 11px 0;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #193097;
          color: rgba(255, 255, 255, 0.959);
          padding: 15px 21px;
          margin: 7px 0;
          border: none;
          border-radius: 3px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #a9b821;
        }

        </style>
    <body>
        <h1>Lab 3 Form</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
          </form>
    </body>
</html>
